.ChatBox {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 20px 10px;
  max-width: 500px;
  margin: 0 auto;
}
.ChatList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.ChatList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.ChatList::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.ChatList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  display:flex;
  flex-direction:column;
}
.ChatInput {
  display: inline-flex;
  width: 100%;
}
.ChatForm {
  width: 100%;
  display: flex;
}
.ChatButton {
  float: right;
}
.ChatMessage {
  color: black !important;
  display:inline-block;
  padding:0px 3px; 
  border-radius:10px;
  width:auto;
  background:#F1F0F0;
  vertical-align:center;
}
.ChatList {
  overflow: auto;
  width: 100%;
  flex:1;
}
.MessageItem{
  color:black;
  float:left;
}
.ChatMessage h3{
  font-size:1.5em;
  
}
.MessageItem h5{
  font-size:.8em;
  color:#B2AAA9;
}
.MessageItem.currentUser{
  float:right;
}
.MessageItem.currentUser .ChatMessage{
  background:#5AB9FF;
}
.MessageRow{
  width:100%;
  display:inline-block;
}
